@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap");

.section {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url("https://i.pinimg.com/originals/f5/10/b9/f510b99e0fdb77386b5ce33a2087207b.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 105px;
  .bg_section {
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    background-color: #f6f6f6f6;
    border-radius: 30px;
    height: max-content;
    opacity: 0.87;
    padding-top: 20px;
    .grid_top {
      justify-content: space-around;
      padding: 35px 25px;
      .col-left {
        background-image: url("../../../img/bgcontact_2.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        border-image-source: none;
        padding: 25px;
        border-radius: 15px;
        filter: grayscale(20%) contrast(80%);
        .text {
          color: white;
          font-family: "Kablammo", cursive;
          font-weight: 800;
        }
      }
      .col-right {
        background-color: whitesmoke;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        .form {
          .ant-col-8 {
            text-align: left;
            display: block;
            flex: 0 0 25.3%;
            max-width: 33.33333333333333%;
          }
        }
      }
    }
    .contact {
      margin-top: 40px;
      .grid_bot {
        .left {
          .content {
            .text {
              margin-bottom: 10px;
              text-align: center;
              font-size: 20px;
              font-weight: 500;
              color: #2d2d2d;
            }
            .ul {
              .li {
                margin-top: 20px;
                font-size: 16px;
                color: #1c1c1c;
                border-bottom: 1px solid darkgray;
              }
            }
          }
        }
        .mid {
          padding: 0 0 0 24px;
          .content {
            border-left: 1px dashed darkslategray;
            border-right: 1px dashed darkslategray;
            .img {
            }
            .form {
              .d-flex {
                .form_dang_ky {
                  padding: 6px 5px;
                }
                .btn {
                  background-color: black;
                  color: white;
                  &:hover {
                    background-color: white;
                    color: black;
                    border: 1px solid black;
                  }
                }
              }
            }
          }
        }
        .right {
          .content {
            // border-left: 1px dashed darkgray;
            padding-left: 5px;
            .text-center {
              margin-bottom: 10px;
              font-size: 20px;
              font-weight: 500;
              color: #2d2d2d;
            }
            .ul {
              padding: 0;
              .li {
                margin-top: 20px;
                font-size: 16px;
                color: #1c1c1c;
                border-bottom: 1px solid darkgray;
                i {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.css-zow5z4-MuiGrid-root {
  padding: 50px;
}
