* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", Arial, serif; // bỏ voà này đúng ko ông, ok v đc ùi :))) đang cấn cái chỗ chex box là 9 :))) má sao lại reload nó mới hiện lên :)) làm lại cái đó đi ô , đái luôn á ông , cái đó có thư viện antd mà tui ko rõ cái đso lắm, cái cart tui mò từ 2h tới 9h tối á :)))) mà code chay
  // font-family: ;
}
